.text-type {
  display: block;
  white-space: pre-wrap;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  animation: text-type-cursor-blink 0.5s ease-in-out infinite alternate;
}

@keyframes text-type-cursor-blink {
  from { opacity: 1; }
  to { opacity: 0; }
}
